<script src="/js/config.js"></script>
<script>

    function activatePlacesSearch() {
        var input = document.getElementById('search_term');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
   
</script>
<script id="googleAPI" type="text/javascript" ></script>
<script src="/js/main.js"></script>

    </body>
    
    </html>