
<script>

    function activatePlacesSearch() {
        var input = document.getElementById('search_term');
        var autocomplete = new google.maps.places.Autocomplete(input);
    }

</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA78DF4W-2sNE_avQ5kjFsWMw9yVYz40QY&libraries=places&callback=activatePlacesSearch"></script>
<script src="/js/main.js"></script>

    </body>
    
    </html>