<%- include('partials/header'); -%>

    <div class="container-index">
        <div class="main">
            <div class="greeting">
                <p id="curTime"></p>
                <p id="greeting"></p>
            </div>
            <div class="search">
                <form action="/" method="POST" id="search">
                    <input type="text" name="location" id="search_term" placeholder="Start Typing City">
                  <button class="btn-block" type="submit">Search</button>
                </form>
                <div id="match-list"></div>
            </div>
        </div>
    </div>



    <%- include('partials/footer'); -%>