<%- include('partials/header'); -%>

    <div class="container-index">
        <div class="main">
            <div class="search">
                <form action="/" method="POST" id="search">
                    <input type="text" name="location" id="search_term" placeholder="Start Typing City">
                  <button type="submit">Search</button>
                </form>
                <div id="match-list"></div>
            </div>
            <div class="current-city">
                <i class="fas fa-map-marker-alt"></i>
              
                <p id="curTime">
                  
                </p>
            </div>
        </div>
    </div>
    </div>


    <%- include('partials/footer'); -%>