@import url("https://fonts.googleapis.com/css?family=Acme|EB+Garamond:400,700&display=swap");
.flex-container-centered {
  display: flex; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e1e1e1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.container {
  padding: 0 5%;
  margin-top: 2rem; }

.greeting p {
  font-size: 8rem;
  font-weight: 700;
  text-shadow: 10px 1px 6px rgba(79, 79, 79, 0.399);
  font-family: 'Acme', sans-serif; }

.container-index {
  text-align: center; }

.location {
  position: absolute;
  top: 60px;
  right: 60px; }

.search input {
  width: 100%;
  font-size: 70px;
  padding-bottom: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: #e1e1e1;
  opacity: .9;
  border-bottom: 5px solid #e1e1e1;
  text-align: center; }

.search button {
  width: 100%;
  height: 100px;
  font-size: 40px;
  border: none;
  outline: none;
  color: #e1e1e1;
  background: rgba(255, 255, 255, 0.249);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border-radius: 3px;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.btn-block {
  display: block !important;
  align-self: center;
  justify-self: center;
  margin: 2.5rem 0;
  width: 100% !important; }

.search button:hover {
  background: transparent; }

.current-city-1 {
  text-align: center;
  padding-top: 2rem; }
  .current-city-1 p {
    font-size: 8rem;
    font-weight: 700;
    text-shadow: 10px 1px 6px rgba(79, 79, 79, 0.399);
    font-family: 'Acme', sans-serif; }

.current-city-1 p {
  font-size: 65px;
  margin-top: 0; }

.location {
  text-align: center; }
  .location i {
    font-size: 70px;
    margin: auto;
    padding: 15px; }
  .location h6 {
    font-size: 25px;
    margin: auto;
    padding-top: 15px; }
  .location p {
    font-size: 65px;
    margin-top: 0; }

.cur-info {
  background: rgba(6, 6, 6, 0.523);
  padding: 0 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem; }

.cur-info img {
  width: 100px;
  height: 100px; }

.cur-info p {
  font-size: 45px;
  font-weight: 700; }

.cur-info h1 {
  font-size: 45px;
  font-weight: 700; }

.weather-item {
  padding: 1rem; }
  .weather-item p {
    font-size: 4rem; }
  .weather-item img {
    margin: 64px 0; }
